# Database (XAMPP MySQL)
DB_HOST= #Hostname, e.g. localhost
DB_USER= #utente MySQL, e.g. root
DB_PASSWORD= #password MySQL, e.g. password
DB_NAME= #nome del database, portfolio_ai
DB_PORT= #porta MySQL

# Session
SESSION_SECRET= #secret key per le sessioni

# TOCKEN KEY
HF_API_TOKEN= #token api per accedere ai modelli di intelligenza artificiale

# App
PORT= #porta su cui far girare l'app, e.g. 3000
NODE_ENV=development
